<template name = "profile">
	<div class="ui stackable grid">
		<div class="eight wide centered column">
			<div class="ui form segment"  >
				
				<div class="field">
					<label>Name</label>
					<input placeholder="fileName" name="email" type="text" >
				</div>
				<div class="field">
					<label>Discription</label>
					<textarea></textarea>
				</div>
				<div class="field">
					<input type="hidden" name="gender" value="1455291533.8268065">
				</div>
				<div class="field">
					<input type="hidden" name="comment" value="e0b0fbb31ad7536d8c1c3ccf2cb1473c9c08e9e2">
				</div>
				<div class="field">
					<input type="hidden" name="address" value="f35206c8ec35c72d4999bac6aa57e001599c5e33">
				</div>
				<div>
					<div class="main ui container">
						<img class="ui small circular image" src="{{this.image.url}}">
					</div>
				</div>
			</div>
		</div>
	</div>